body{
  overflow-y: hidden;
  font-size: 10px;
}

.allContent{
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin-left: -2.5%;
  margin-top: -2.5%;
}

.headPic{
  background-image: linear-gradient(to bottom right, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
  height: 110vh;
  width: 100%;
}

#mainPic {
  position: absolute;
  max-width:458px;
  width: 100%;
  max-height: 473px;
  height: 100%;
  left: 5%;
  top: 18%;
}

.textContent{
  margin-top: 5%;
  margin-left: 2.5%;
  width: 100%;
}

.linksHead {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.linksHead p {
  font-size: 1.5rem;
  font-weight: bold;
}

.linksHead ion-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.outLink {
  margin-left: 60%;
}

.outLink ion-icon {
  margin-right: 1.25rem;
}

.textContent h1{
  font-size: 3rem;
  margin-top: 20%;
}

.textContent p {
  font-size: 1.75rem;
}

.signUp h2 {
  font-size: 1.5rem;
}

.inputLine{
  display: flex;
  align-items: center;
}

.signUp input{
  height: 50px;
  width: 55%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.signUp a {
  text-decoration: none;
  color: white;
  background-color: hsl(163, 95%, 43%);
  font-size: 2rem;
  margin-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.privacyPolicy {
  position: absolute;
  top: 95%;
  left: 95%;
}

.attribution {
  display: none;
}
